{% extends "base.html" %}
{% block content %}
    
    <table class="styled-table">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Genre</th>
            <th>Publisher</th>
            <th>Author Id</th>
            <th>Author Name</th>
            <th>Action</th>
        </tr>
    {% for book in books %}
        <tr>
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td>{{book.genre}}</td>
            <td>{{book.publisher}}</td>
            <td>{{book.author.id}}</td>
            <td>{{book.author.first_name}} {{book.author.last_name}}</td>
            <td>
                <form action="/books/delete" method="post">
                    <input type="hidden" name="book_id" value="{{book.id}}">
                    <button type="submit">Delete</button>
                </form>

            </td>
         </tr> 
    {% endfor %}
    </table>
{% endblock %}
